<div [ngClass]="[currentColor.bg, 'rounded-md p-4 w-80 min-h-full']">
  <div class="flex w-full justify-between items-center p-4">
    <div class="flex items-center gap-4">
      <div
        [ngClass]="[
          currentColor.text,
          'bg-white w-6 h-6 rounded-full flex items-center justify-center font-openSans font-bold'
        ]"
      >
        {{ taskQuantity }}
      </div>
      <span [ngClass]="[currentColor.text, 'font-openSans font-bold']">{{
        title
      }}</span>
    </div>
    <div class="flex gap-4 items-center">
      <mat-icon [ngClass]="[currentColor.text]">add</mat-icon>
      <mat-icon [ngClass]="[currentColor.text]">more_horiz</mat-icon>
    </div>
  </div>
  <div class="flex flex-col gap-6">
    @for (task of tasks; track $index) {
    <app-task-card [task]="task" />
    }
  </div>

  <div class="w-full mt-4">
    <app-button
      [buttonColor]="taskCategoryColor"
      [icon]="'add'"
      [text]="'Add new task'"
      (buttonClick)="onClickAdd()"
    />
  </div>
</div>
