<div class="bg-white rounded-md w-full p-4 font-openSans">
  <span class="font-bold">{{ task.description }}</span>
  <div class="flex justify-between w-full mt-4 items-center">
    <div class="flex items-center gap-2">
      <div class="w-8 h-8 relative rounded-full overflow-hidden">
        <img ngSrc="https://placehold.co/300x300" fill />
      </div>
      <span class="text-sm font-light">{{ task.date | relativeDate }}</span>
    </div>
    <mat-icon class="text-slate-400">{{
      task.isCompleted ? "check_circle" : "check_circle_outline"
    }}</mat-icon>
  </div>
  <div class="mt-5 w-full flex justify-between items-center">
    <div class="flex gap-4 items-center justify-center text-sm">
      <div class="flex items-center gap-1">
        <mat-icon
          class="text-base !w-auto !h-auto !flex justify-center items-center"
          ><mat-icon> comment</mat-icon>
        </mat-icon>
        <span>{{ task.taskComments.length }}</span>
      </div>
      <div class="flex items-center gap-1">
        <mat-icon
          class="text-base !w-auto !h-auto !flex justify-center items-center"
          >attach_file</mat-icon
        >
        <span>{{ task.taskAttachmentsQuantity }}</span>
      </div>
    </div>
    <app-task-priority [priority]="task.priority" />
  </div>
</div>
